h1 {
    color: rgba(13, 0, 255, 0.981);
    font-size: 35px;
    background-color: #ffffff;
    text-align: center;
}



body {
    height: 500px;
    background-image: url("mokume.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.image{
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;

}


